@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root {
    --font: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css header start */

header {
    display: flex;
    height: 45px;
    background-color: #ecf6fe;
}


.text {
    color: #2fa0ff;
    font: 300px 15px var(--font);
    line-height: 35px;
    font-family: "Josefin Sans";
    text-align: center;
}

.text a {
    text-decoration: none;
}

#logos i {
    padding-left: 15px;
    color: #0089ff;
}

/* css header end */

/* css section1 start */

#section-body {
    height: 870px;
    background-image: url("../img/bg.png");
    background-position-x: right;
    background-repeat: no-repeat;
    background-color: #f3faff;
}

#request button {
    font: 400 16px var(--font);
    color: #474747;
    font-family: "Josefin Sans";
    border: none;
    background-color: #ffe824;
    border-radius: 30px;
    padding: 10px;
}

#nav-section {
    font: 400 16px var(--font);
    color: white;
    font-family: "Josefin Sans";
}

a:hover {
    background-color: #008aff;
}

#save p {
    font: 300 33px var(--font);
    color: #008aff;
    font-family: "Josefin Sans";
}

#save h1 {
    font: 400 68px var(--font);
    color: #13287e;
    font-family: "Josefin Sans";
    padding-bottom: 35px;
}

#offer button {
    font: 400 14px var(--font);
    color: #474747;
    font-family: "Josefin Sans";
    width: 219px;
    height: 67px;
    border-radius: 33px;
    background-color: #ffe824;
    border: none;
}

/* css section1 end */

/* css section2 start */

#section-body1 h1 {
    padding-top: 55px;
    font: 400 33px var(--font);
    color: #008aff;
    font-family: "Josefin Sans";
}

#section-body1 p {
    font: 300 20px var(--font);
    color: #474747;
    font-family: "Josefin Sans";
}

#section-body1 .photo {
    border-radius: 100px 0;
}

#section-body1 ul {
    margin-left: 20px;
    text-align: start;
}

#section-body1 ul li {
    font: 300 20px var(--font);
    line-height: 35px;
    color: #008aff;
    font-family: "Josefin Sans";
}

#estimate button {
    margin-top: 50px;
    font: 400 14px var(--font);
    color: #474747;
    font-family: "Josefin Sans";
    width: 219px;
    height: 60px;
    border-radius: 33px;
    background-color: #ffe824;
    border: none;
}

#eclipse {
    display: flex;
    justify-content: center;
    position: relative;
}

.like {
    position: absolute;
    bottom: 150px;
    border-radius: none;
}

/* css section2 end */


/* css section3 start */

#choose {
    font: 400 33px var(--font);
    color: #13287e;
    font-family: "Josefin Sans";
    padding-bottom: 100px;
}

#us {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-left: 20px;
}

#us div {
    text-align: center;
    width: 25%;
}

#us h1 {
    padding-top: 15px;
    font: 400 28px var(--font);
    color: #13287e;
    font-family: "Josefin Sans";
}

#us hr {
    display: inline-block;
    text-align: center;
    width: 121px;
    height: 2px;
    background-color: #ffed50;
}

/* css section3 end */

/* css section4 start */

#what {
    height: 600px;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#text {
    text-align: center;
}

#text .say {
    align-items: center;
    font: 400 33px var(--font);
    color: #13287e;
    font-family: "Josefin Sans";
}

#text .lorem {
    display: inline-block;
    width: 675px;
    height: 86px;
    font: 350 20px var(--font);
    line-height: 35px;
    color: white;
    font-family: "Josefin Sans";
}

#text .amanda {
    font: 400 19px var(--font);
    line-height: 23px;
    color: #f7b74d;
    font-family: "Josefin Sans";
    text-align: center;
}

#text .new {
    font: 350 19px var(--font);
    line-height: 23px;
    color: #f7b74d;
    font-family: "Josefin Sans";
    text-align: center;
}

.img {
    margin: auto;
    background-color: #eeaf45;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden;
}

/* css section4 end */


/* css section5 start */

#plan {
    position: relative;
    padding-top: 105px;
}

#plan h1 {
    font: 400 33px;
    color: #13287e;
    font-family: "Josefin Sans";
}

#plan p {
    font: 300 20px var(--font);
    line-height: 35px;
    color: #474747;
    font-family: "Josefin Sans";
}

.plans {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.plans .card {
    width: 340px;
}

.plans h1 {
    font: 400 26px;
    color: #474747;
    font-family: "Josefin Sans";
}

.card {
    padding-top: 10px;
}

.card .start {
    font: 600 119px var(--font);
    color: #008aff;
    font-family: "Josefin Sans";
}

.card button {
    margin: auto;
    width: 219px;
    height: 67px;
    border-radius: 34px;
    background-color: #ffe824;
    border: none;
    font: 400 14px var(--font);
    color: #474747;
    font-family: "Josefin Sans";
    margin-top: 10px;
    margin-bottom: 20px;
}

.start sup {
    font: 400 24px var(--font);
    color: #474747;

}

.texts {
    margin: auto;
    width: 283px;
    font: 300 17px var(--font);
    line-height: 35px;
    color: #474747;
    font-family: "Josefin Sans";
}

.texts strong {
    color: #008aff;
}

/* css section5 end */

/* css section6 start */

#new {
    position: relative;
    margin-top: 200px;
    background-image: url("/assets/img/22.png");
}

#new .flag {
    position: relative;
    bottom: 15px;
    margin: auto;
    height: 150px;
    width: 150px;
}

#new span {
    position: absolute;
    bottom: 5px;
    left: 2px;
    top: 10px;
    font-size: 44px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Josefin Sans";
    text-align: center;
    filter: drop-shadow(3.277px 2.294px 1px rgba(0, 0, 0, 0.16));
}

#new h1 {
    padding-top: 80px;
    text-align: center;
    font: 600 68px var(--font);
    color: #13287e;
    font-family: "Josefin Sans";
}

#new .new-text {
    font-size: 20px;
    line-height: 35px;
    color: #474747;
    font-weight: 300;
    font-family: "Josefin Sans";
    text-align: center;
}

.clean {
    display: flex;
    justify-content: center;
    position: relative;
}

.clean button {
    font: 400 14px var(--font);
    color: #474747;
    font-family: "Josefin Sans";
    width: 219px;
    height: 67px;
    border-radius: 33px;
    background-color: #ffe824;
    border: none;
    padding-left: 25px;
    padding-top: 5px;
    margin-bottom: 80px;
}

.mail {
    position: absolute;
    bottom: 105px;
    left: 480px;
}

/* css section6 end */

/* css section7 start */


#news h1 {
    text-align: center;
    padding-top: 100px;
    font: 400 33px var(--font);
    color: #13287e;
    font-family: "Josefin Sans";
}

#news p {
    font: 300 20px var(--font);
    line-height: 35px;
    color: #474747;
    font-family: "Josefin Sans";
    text-align: center;
}

.divs h6 {
    width: 374px;
    height: 52px;
    font: 300 26px var(--font);
    color: #13287e;
    font-family: "Josefin Sans";
}

.divs p {
    width: 357px;
    height: 51px;
    font: 300 20px var(--font);
    line-height: 35px;
    color: #474747;
    font-family: "Josefin Sans";
}

.divs a {
    font: 300 12px var(--font);
    line-height: 200px;
    text-decoration: underline;
    color: #008aff;
    font-family: "Josefin Sans";
}

/* css section7 end */

/* css footer start */

.foot-logo button {
    font: 400 14px var(--font);
    color: #474747;
    font-family: "Josefin Sans";
    width: 219px;
    height: 67px;
    border-radius: 34px;
    background-color: #ffe824;
    border: none;
}

.cont p {
    width: 216px;
    height: 160px;
    font: 300 20px var(--font);
    line-height: 35px;
    color: #474747;
    font-family: "Josefin Sans";
}

.subs p {
    width: 370px;
    height: 31px;
    font: 400 16px var(--font);
    line-height: 30px;
    color: #474747;
    font-family: "Josefin Sans";
}

.subs input {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 80px;
    position: relative;
}

.send {
    position: absolute;
    top: 6032px;
    right: -140px;
}

.foot-logos i {
    padding-right: 30px;
}

.foot-text {
    text-align: center;
    height: 26px;
    font: 300 12px var(--font);
    color: #474747;
    font-family: "Josefin Sans";

}

.copy {
    text-align: center;
    font:300 16px var(--font);
    line-height: 30px;
    color: #474747;
    font-family: "Josefin Sans";
}
